body{
  background-color: rgb(10, 10, 10);
  color: rgb(255,255,255);
  overflow: hidden;
}
.Container{
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding: 1%;
  gap: 1%;
  border: 1px solid rgb(0, 217, 255);
  
}
.Board{
  display: flex;
  flex-direction: column;
  
  width: 50%;
  height: 50%;

  border-radius: 1rem;
  border: 1px solid rgb(0, 217, 255);
  background-color: rgb(25, 25, 25);
}
.Score{
  display: flex;
  flex-direction: column;
  
  width: 50%;
  height: 50%;

  border: 1px solid rgb(0, 217, 255);
  background-color: rgb(25, 25, 25);
  border-radius: 1rem;

}

.row{
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 30%;
  padding: 1.5% 0 1% 4%; 
}
.row button{
  width: 100%;
  margin-left: 2%;
  font-size: xx-large;
  box-sizing: border-box;
  background-color: inherit;
  border-radius: .5rem;
  color: inherit;
  border-color: rgb(0, 217, 255);
}

.row button:hover{
  background-color: rgb(0, 217, 255);
  color: #fff;
}
